body {
    width: 100%;
    /* background-image: url(../../assets/images/cave.jpg); */
    background-repeat: no-repeat;
    background-size: 100%;
 
}
/* need work here */
div, #1, #2, #3, #4 {
    display: inline;
    padding: 10px;
}


.header {
    border: 2px solid #f07008;
    background-color: #f07008;
    width: fit-content;
    margin-bottom: 15px;
    position: static;

}

.infoIndex {
    background-color: #fff09d;
    padding: 10px;
    width: 25%;
    position: absolute;
}

.statsIndex {
    margin-top: 355px;
    display: block;
}

.li {
    float: left;
    
}

.currentNumber {
    height: 100px;
    width: 15%;
    background-color: #0cee90;
    margin-right: 15px;
}

.winLoss {
    height: 50px;
    width: 5%;
    background-color: #00d6d6;
    margin-left: 50px;
    margin-top: 20px;
    padding: 10px;
}

li {
    list-style-type: none;
}

.crystals {
    height: 125px;
    width: 125px;
    display: inline-block;
    margin: 5px;
    

}

.playerScore {
    background-color: #0cee90;
    padding: 5px;
    margin-top: 2%;
    width: 15%;

}

h3 {
    margin: 0;
}

.statsIndex {
    display: flex;
}
img {
    height: 100px;
    width: 100px;
    

}